<!--handlebars main file contains HTML structure -->

<!DOCTYPE html>
<html lang="en-US">
	<!--handlebars partial from head.handlebars -->
	{{> head}}

	<body>
		<!--include handlebars partial from nav.handlebars -->
		{{> nav}}
		<!--handlebars body from index.handlebars file -->
	    {{{ body }}}
		<!--handlebars partial from footer.handlebars -->
		{{> footer}}
		
	    <!-- CDN jQuery JS -->
	    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
	            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	            crossorigin="anonymous"></script>
	    <!-- CDN Bootstrap JS -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	            crossorigin="anonymous"></script>
	    <!-- Application JavaScript -->
	    <script src="assets/js/burgers.js"></script>
	</body>
</html>